.idea
/src/.vs
*~

# VIM
*.swp

# Tools for building etc.
tools/

# Installation of development dependencies
installation-dev-dependencies/

# Build artefacts
artefacts/

# Sample AASXs
sample-aasx/
/src/Check2.ps1
/src/DownloadSamplesNew.ps1
/src/BlazorUI/fileEdit.json
/src/BlazorUI/Festo_163142_CPE18-M1H-5L-14_solenoid_valve.aasx
/src/BlazorUI/12_Pepperl+Fuchs.aasx
/src/BlazorUI/08_SchneiderElectric.aasx
/src/BlazorUI/09_SchneiderElectric.aasx
/.vs/aasx-package-explorer/v16/.suo
/.vs/slnx.sqlite
/.vs/aasx-package-explorer/v17/.suo
/src/WpfXamlTool/Properties/AssemblyInfo.cs
/src/WpfMtpVisuViewer/Properties/AssemblyInfo.cs
/src/WpfMtpControl/Properties/AssemblyInfo.cs
/src/MsaglWpfControl/Properties/AssemblyInfo.cs
