.idea
/src/.vs
*~

# VIM
*.swp

# Tools for building etc.
tools/

# Installation of development dependencies
installation-dev-dependencies/

# Build artefacts
artefacts/

# Sample AASXs
sample-aasx/
/.vs/slnx.sqlite
/.vs/aasx-package-explorer_fork/v16/.suo
/.vs
