
.uic-tree .uic-tree { margin-left:1.25rem; }
.uic-tree--hidden { display:none; }
.uic-tree__icon { float: left; }
.uic-tree__title { margin-left:1.25rem; }
.uic-tree .curosr-pointer { cursor:pointer; }