@page "/download"
@inject BlazorUI.Data.blazorSessionService bi
@inject DownloadModel dm
@* @model DownloadModel*@
Downloading..<br />

@*@dm.OnGet(bi);*@

<p><a href="/">Go back to main page</a></p>

@*<meta http-equiv="refresh" content="0; url=https://localhost:5001/" />*@
