<?xml version="1.0" encoding="UTF-8"?>
<!-- This is a WiX v3 setup script -->
	
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

	<Product Id="*" Name="AASXPackageExplorer" Language="1033" Version="1.0.0.0" Manufacturer="FESTO|Phoenix|Fraunhofer|Schneider Electric|SICK" UpgradeCode="6a020eba-0566-4cb4-97c2-a874831860e1">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

		<MediaTemplate EmbedCab="yes"></MediaTemplate>

		<Feature Id="ProductFeature" Title="AASXPackageExplorerSetup" Level="1">
			<ComponentGroupRef Id="BackupFolderFiles" />
			<ComponentGroupRef Id="DemoFolderFiles" />
			<ComponentGroupRef Id="DataFolderFiles" />
			
			<ComponentGroupRef Id="PluginAdvancedTextEditor" />
			<ComponentGroupRef Id="PluginBomStructure" />
			<ComponentGroupRef Id="PluginDocumentShelf" />
			<ComponentGroupRef Id="PluginExportTable" />
			<ComponentGroupRef Id="PluginGenericForms" />
			<ComponentGroupRef Id="PluginImageMap" />
			<ComponentGroupRef Id="PluginMtpViewer" />
			<ComponentGroupRef Id="PluginPlotting" />
			<ComponentGroupRef Id="PluginSmdExporter" />
			<ComponentGroupRef Id="PluginTechnicalData" />
			<ComponentGroupRef Id="PluginUaNetClient" />
			<ComponentGroupRef Id="PluginUaNetServer" />
			<ComponentGroupRef Id="PluginWebBrowser" />
			<ComponentGroupRef Id="PluginWebBrowserResources" />

			<ComponentGroupRef Id="SystemComponents" />
			<ComponentGroupRef Id="ProductBaseCode" />
			<ComponentGroupRef Id="DataStore" />    
			<ComponentGroupRef Id="FunctionalLibs" />    
			<ComponentGroupRef Id="FunctionalUILibs" />
			<ComponentGroupRef Id="NPOI" />
			<ComponentGroupRef Id="AMLEngine" />
			<ComponentGroupRef Id="BouncyCastleCrypto" />
			<ComponentGroupRef Id="MSHelpers" />
			<ComponentGroupRef Id="ZXing" />

			<ComponentGroupRef Id="Resources" />
			<ComponentGroupRef Id="ProgsUserInterface" />
    
      <ComponentGroupRef Id="schemaV10files" />
      <ComponentGroupRef Id="schemaV20files" />
      <ComponentGroupRef Id="schemaV201files" />

      <ComponentGroupRef Id="RootLevelConfigFiles" />
    </Feature>

		<WixVariable Id="WixUILicenseRtf" Value="license.rtf"/>
		<Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER"/> 
		<UIRef Id="WixUI_InstallDir" />

	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="XTXAASXPackageExplorerXTX">
					<Directory Id="BACKUP" Name="backup"></Directory>
					<Directory Id="CONTENT_FOR_DEMO" Name="CONTENT_FOR_DEMO"></Directory>
					<Directory Id="DATA" Name="data"></Directory>
					<Directory Id="PLUGINS" Name="plugins">          
						<Directory Id="ADVANCEDTEXTEDITOR" Name="AasxPluginAdvancedTextEditor"/>
						<Directory Id="BOMSTRUCTURE" Name="AasxPluginBomStructure"/>
						<Directory Id="DOCUMENTSHELF" Name="AasxPluginDocumentShelf"/>
						<Directory Id="EXPORTTABLE" Name="AasxPluginExportTable"/>
						<Directory Id="GENERICFORMS" Name="AasxPluginGenericForms"/>
						<Directory Id="IMAGEMAP" Name="AasxPluginImageMap"/>
						<Directory Id="MTPVIEWER" Name="AasxPluginMtpViewer"/>
						<Directory Id="PLOTTING" Name="AasxPluginPlotting"/>
						<Directory Id="SMDEXPORTER" Name="AasxPluginSmdExporter"/>
						<Directory Id="TECHNICALDATA" Name="AasxPluginTechnicalData"/>
						<Directory Id="UANETCLIENT" Name="AasxPluginUaNetClient"/>
						<Directory Id="UANETSERVER" Name="AasxPluginUaNetServer"/>
						<Directory Id="WEBBROWSER" Name="AasxPluginWebBrowser">
							<Directory Id="WEBBROWSERLOCALES" Name="Locales"/>
						</Directory>
						<Directory Id="RESOURCES" Name="Resources"></Directory>
						<Directory Id="SCHEMAV10" Name="schemaV10"></Directory>
						<Directory Id="SCHEMAV20" Name="schemaV20"></Directory>
						<Directory Id="SCHEMAV201" Name="schemaV201"></Directory>
					</Directory>
				</Directory>
			</Directory>
		</Directory>
	</Fragment>

		
	<Fragment>

		<!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
		<!-- <Component Id="ProductComponent"> -->
			<!-- TODO: Insert files, registry keys, and other resources here. -->
		<!-- </Component> -->


		<ComponentGroup Id="BackupFolderFiles" Directory="BACKUP">
		</ComponentGroup>

		<ComponentGroup Id="DemoFolderFiles" Directory="CONTENT_FOR_DEMO">
		</ComponentGroup>

		<ComponentGroup Id="DataFolderFiles" Directory="DATA">
      <Component Id="README.md" Guid="{5B646982-3010-4980-80A0-76E544310BAE}">
        <File Id="README.md" Source="$(var.AasxToolkit.TargetDir)data\README.md" KeyPath="no" Checksum="yes"/>
        <File Id="CopyExternalData.bat" Source="$(var.AasxToolkit.TargetDir)data\CopyExternalData.bat" KeyPath="no" Checksum="yes"/>
      </Component>
    </ComponentGroup>


		<!-- BaseCode Component Group -->      
		<ComponentGroup Id="ProductBaseCode" Directory="INSTALLFOLDER">
			<Component Id="AasxCsharpLibrary.dll" Guid="{C9BB42FC-1BED-47BE-A8AD-F1E7355A1AB8}">
				<File Id="AasxCsharpLibrary.dll" Source="$(var.AasxCsharpLibrary.TargetDir)AasxCsharpLibrary.dll" KeyPath="yes" Checksum="yes"/>
				<File Id="AasxCsharpLibrary.dll.config" Source="$(var.AasxCsharpLibrary.TargetDir)AasxCsharpLibrary.dll.config" KeyPath="no" Checksum="yes"/>
			</Component>
			<Component Id="AasxIntegrationBase.dll" Guid="{B215281A-66B5-47B4-8A66-C3DE25B9C5A9}">
				<File Id="AasxIntegrationBase.dll" Source="$(var.AasxIntegrationBase.TargetDir)AasxIntegrationBase.dll" KeyPath="yes" Checksum="yes"/>
			</Component>
			<Component Id="AasxIntegrationBaseWpf.dll" Guid="{C774B7AE-D9C1-4EC1-A3B4-94437195E820}">
				<File Id="AasxIntegrationBaseWpf.dll" Source="$(var.AasxIntegrationBaseWpf.TargetDir)AasxIntegrationBaseWpf.dll" KeyPath="yes" Checksum="yes"/>
				<File Id="AasxIntegrationBaseWpf.dll.config" Source="$(var.AasxIntegrationBaseWpf.TargetDir)AasxIntegrationBaseWpf.dll.config" KeyPath="no" Checksum="yes"/>
			</Component>
			<Component Id="AnyUi.dll" Guid="{CD1C0D26-28EB-4563-801D-D17989582967}">
				<File Id="AnyUi.dll" Source="$(var.AnyUi.TargetDir)AnyUi.dll" KeyPath="yes" Checksum="yes"/>
			</Component>
		</ComponentGroup>

		<!-- DataStore Component Group -->        
		<ComponentGroup Id="DataStore" Directory="INSTALLFOLDER">
			<Component Id="AasxPredefinedConcepts.dll" Guid="{0ED424A0-4B3B-4E88-B45A-2E142BA632C7}">
				<File Id="AasxPredefinedConcepts.dll" Source="$(var.AasxPredefinedConcepts.TargetDir)AasxPredefinedConcepts.dll" KeyPath="yes" Checksum="yes"/>
				<File Id="AasxPredefinedConcepts.dll.config" Source="$(var.AasxPredefinedConcepts.TargetDir)AasxPredefinedConcepts.dll.config" KeyPath="no" Checksum="yes"/>
			</Component>
		</ComponentGroup>      

		<!-- FunctionalLibs Component Group -->        
		<ComponentGroup Id="FunctionalLibs" Directory="INSTALLFOLDER">
			<Component Id="AasxAmlImExport.dll" Guid="{D74BAF7A-E43E-44A1-A0E2-D0B60E30FFA2}">
				<File Id="AasxAmlImExport.dll" Source="$(var.AasxAmlImExport.TargetDir)AasxAmlImExport.dll" KeyPath="yes" Checksum="yes"/>
				<File Id="AasxAmlImExport.dll.config" Source="$(var.AasxAmlImExport.TargetDir)AasxAmlImExport.dll.config" KeyPath="no" Checksum="yes"/>
			</Component>
			<Component Id="AasxDictionaryImport.dll" Guid="{02AACA4C-325D-472C-8878-28CC0DA242CF}">
				<File Id="AasxDictionaryImport.dll" Source="$(var.AasxDictionaryImport.TargetDir)AasxDictionaryImport.dll" KeyPath="yes" Checksum="yes"/>
				<File Id="AasxDictionaryImport.dll.config" Source="$(var.AasxDictionaryImport.TargetDir)AasxDictionaryImport.dll.config" KeyPath="no" Checksum="yes"/>      
			</Component>
			<Component Id="AasxFormatCst.dll" Guid="{4070A9E5-D0C4-456A-B44D-C8BE27A2FC05}">
				<File Id="AasxFormatCst.dll" Source="$(var.AasxFormatCst.TargetDir)AasxFormatCst.dll" KeyPath="yes" Checksum="yes"/>
				<!-- <File Id="AasxFormatCst.dll.config" Source="$(var.AasxFormatCst.TargetDir)AasxFormatCst.dll.config" KeyPath="no" Checksum="yes"/> -->
			</Component>
			<Component Id="AasxMqttServer.dll" Guid="{5D436525-E62D-46A2-9BF9-032E01A8221C}">
				<File Id="AasxMqttServer.dll" Source="$(var.AasxMqtt.TargetDir)AasxMqttServer.dll" KeyPath="yes" Checksum="yes"/>
				<File Id="AasxMqttServer.dll.config" Source="$(var.AasxMqtt.TargetDir)AasxMqttServer.dll.config" KeyPath="no" Checksum="yes"/>
			</Component>
			<Component Id="AasxMqttClient.dll" Guid="{8FA09371-B346-4B11-B379-2A099ED9E33E}">
				<File Id="AasxMqttClient.dll" Source="$(var.AasxMqttClient.TargetDir)AasxMqttClient.dll" KeyPath="yes" Checksum="yes"/>
				<File Id="AasxMqttClient.dll.config" Source="$(var.AasxMqttClient.TargetDir)AasxMqttClient.dll.config" KeyPath="no" Checksum="yes"/>
			</Component>
			<Component Id="AasxOpenidClient.dll" Guid="{19A25946-E1A3-4DF9-8461-A49BA1933976}">
				<File Id="AasxOpenidClient.dll" Source="$(var.AasxOpenidClient.TargetDir)AasxOpenidClient.dll" KeyPath="yes" Checksum="yes"/>
				<File Id="AasxOpenidClient.dll.config" Source="$(var.AasxOpenidClient.TargetDir)AasxOpenidClient.dll.config" KeyPath="no" Checksum="yes"/>
			</Component>
			<Component Id="AasxRestServerLibrary.dll" Guid="{E22F8894-B6DB-4990-BFAF-F36FAD97F41E}">
				<File Id="AasxRestServerLibrary.dll" Source="$(var.AasxRestServerLibrary.TargetDir)AasxRestServerLibrary.dll" KeyPath="yes" Checksum="yes"/>
				<File Id="AasxRestServerLibrary.dll.config" Source="$(var.AasxRestServerLibrary.TargetDir)AasxRestServerLibrary.dll.config" KeyPath="no" Checksum="yes"/>
			</Component>
			<Component Id="AasxSignature.dll" Guid="{17EDB119-6EE9-4EEA-BECE-A9483DEB7912}">
				<File Id="AasxSignature.dll" Source="$(var.AasxSignature.TargetDir)AasxSignature.dll" KeyPath="yes" Checksum="yes"/>
				<File Id="AasxSignature.dll.config" Source="$(var.AasxSignature.TargetDir)AasxSignature.dll.config" KeyPath="no" Checksum="yes"/>
			</Component>
			<Component Id="AasxUaNetServer.dll" Guid="{71186900-E32D-4BCB-A988-A80B86394F0C}">
				<File Id="AasxUaNetServer.dll" Source="$(var.AasxUaNetServer.TargetDir)AasxUaNetServer.dll" KeyPath="yes" Checksum="yes"/>
				<!-- <File Id="AasxUaNetServer.dll.config" Source="$(var.AasxUaNetServer.TargetDir)AasxUaNetServer.dll.config" KeyPath="no" Checksum="yes"/> -->
			</Component>
			<Component Id="AasxUANodesetImExport.dll" Guid="{479C63F5-F4A6-4876-83DA-B02C49BDA2FD}">
				<File Id="AasxUANodesetImExport.dll" Source="$(var.AasxUANodesetImExport.TargetDir)AasxUANodesetImExport.dll" KeyPath="yes" Checksum="yes"/>
				<File Id="AasxUANodesetImExport.dll.config" Source="$(var.AasxUANodesetImExport.TargetDir)AasxUANodesetImExport.dll.config" KeyPath="no" Checksum="yes"/>
			</Component>
		
		</ComponentGroup>      
				
		<!-- FunctionalUILibs Component Group -->        
		<ComponentGroup Id="FunctionalUILibs" Directory="INSTALLFOLDER">
			<Component Id="MsaglWpfControl.dll" Guid="{E2FD01FC-0E33-46A1-BF39-EEB433879803}">
				<File Id="MsaglWpfControl.dll" Source="$(var.MsaglWpfControl.TargetDir)MsaglWpfControl.dll" KeyPath="yes" Checksum="yes"/>
			</Component>
			<Component Id="WpfMtpControl.dll" Guid="{B5C95F9A-C77C-4E73-882E-B3A15F93B14E}">
				<File Id="WpfMtpControl.dll" Source="$(var.WpfMtpControl.TargetDir)WpfMtpControl.dll" KeyPath="yes" Checksum="yes"/>
			</Component>
		</ComponentGroup>      
		
		<!-- PluginAdvancedTextEditor Component Group -->  
		<ComponentGroup Id="PluginAdvancedTextEditor" Directory="ADVANCEDTEXTEDITOR">
			<Component Id="AasxPluginAdvancedTextEditor.dll" Guid="{D1DBD20E-84A1-4E98-AAC2-919212977A03}">
				<File Id="AasxPluginAdvancedTextEditor.dll" Source="$(var.AasxPluginAdvancedTextEditor.TargetDir)AasxPluginAdvancedTextEditor.dll" KeyPath="yes" Checksum="yes"/>
			</Component>
		</ComponentGroup>

		<!-- PluginBomStructure Component Group -->  
		<ComponentGroup Id="PluginBomStructure" Directory="BOMSTRUCTURE">
			<Component Id="AasxPluginBomStructure.dll" Guid="{38DCA761-4C45-4D95-88D0-698E86D52C92}">
				<File Id="AasxPluginBomStructure.dll" Source="$(var.AasxPluginBomStructure.TargetDir)AasxPluginBomStructure.dll" KeyPath="yes" Checksum="yes"/>
				<!-- AasxPluginBomStructure.Options.json -->
			</Component>
		</ComponentGroup>
		
		<!-- PluginDocumentShelf Component Group -->      
		<ComponentGroup Id="PluginDocumentShelf" Directory="DOCUMENTSHELF">
			<Component Id="AasxPluginDocumentShelf.dll" Guid="{04A20529-7011-48A5-817B-C53B89208E30}">
				<File Id="AasxPluginDocumentShelf.dll" Source="$(var.AasxPluginDocumentShelf.TargetDir)AasxPluginDocumentShelf.dll" KeyPath="yes" Checksum="yes"/>
				<!-- AasxPluginDocumentShelf.options.json -->
			</Component>
		</ComponentGroup>
		
		<!-- PluginExportTable Component Group -->
		<ComponentGroup Id="PluginExportTable" Directory="EXPORTTABLE">
			<Component Id="AasxPluginExportTable.dll" Guid="{E0023583-BE00-48CC-8971-BE12EA1A6AE8}">
				<File Id="AasxPluginExportTable.dll" Source="$(var.AasxPluginExportTable.TargetDir)AasxPluginExportTable.dll" KeyPath="yes" Checksum="yes"/>
				<!-- AasxPluginExportTable.options.json -->
			</Component>
		</ComponentGroup>
		
		<!-- PluginGenericForms Component Group -->  
		<ComponentGroup Id="PluginGenericForms" Directory="GENERICFORMS">
			<Component Id="AasxPluginGenericForms.dll" Guid="{A719D5BB-2AFA-491F-B726-78C3CD5EC17D}">
				<File Id="AasxPluginGenericForms.dll" Source="$(var.AasxPluginGenericForms.TargetDir)AasxPluginGenericForms.dll" KeyPath="yes" Checksum="yes"/>
					<!-- AasxPluginGenericForms.options.json -->
					<!-- AasxPluginGenericForms_Festo_ElectricAndFluidPlan.add-options.json -->
					<!-- AasxPluginGenericForms_HSU_Identification.add-options.json -->
					<!-- AasxPluginGenericForms_HSU_Nameplate.add-options.json -->
					<!-- AasxPluginGenericForms_SG2_TechnicalData.add-options.json -->
					<!-- AasxPluginGenericForms_SG2_TechnicalData_v11.add-options.json -->
					<!-- AasxPluginGenericForms_ZVEI_DigitalNameplate.add-options.json -->   
			</Component>
		</ComponentGroup>
		
		<!-- PluginImageMap Component Group -->        
		<ComponentGroup Id="PluginImageMap" Directory="IMAGEMAP">
			<Component Id="AasxPluginImageMap.dll" Guid="{3763BA52-FAED-4B8F-ACE8-B4F99E5E9C91}">
				<File Id="AasxPluginImageMap.dll" Source="$(var.AasxPluginImageMap.TargetDir)AasxPluginImageMap.dll" KeyPath="yes" Checksum="yes"/>
			</Component>
		</ComponentGroup>
		
		<!-- PluginMtpViewer Component Group -->        
		<ComponentGroup Id="PluginMtpViewer" Directory="MTPVIEWER">
			<Component Id="AasxPluginMtpViewer.dll" Guid="{975FBEFF-EE6A-41A0-8603-832662FA30B3}">
				<File Id="AasxPluginMtpViewer.dll" Source="$(var.AasxPluginMtpViewer.TargetDir)AasxPluginMtpViewer.dll" KeyPath="yes" Checksum="yes"/>
				<!-- AasxPluginMtpViewer.options.json -->
		</Component>
		</ComponentGroup>
		
		<!-- PluginPlotting Component Group -->        
		<ComponentGroup Id="PluginPlotting" Directory="PLOTTING">
			<Component Id="AasxPluginPlotting.dll" Guid="{26E3BBFD-960F-4228-A44D-9E2DCAD0066C}">
				<File Id="AasxPluginPlotting.dll" Source="$(var.AasxPluginPlotting.TargetDir)AasxPluginPlotting.dll" KeyPath="yes" Checksum="yes"/>
				<!-- AasxPluginPlotting.options.json -->
			</Component>
		</ComponentGroup>
		
		<!-- PluginSmdExporter Component Group -->
		<ComponentGroup Id="PluginSmdExporter" Directory="SMDEXPORTER">
			<Component Id="AasxPluginSmdExporter.dll" Guid="{B7ED5B8C-ACA4-47A3-893A-A8247C26362C}">
				<File Id="AasxPluginSmdExporter.dll" Source="$(var.AasxPluginSmdExporter.TargetDir)AasxPluginSmdExporter.dll" KeyPath="yes" Checksum="yes"/>
			</Component>
		</ComponentGroup>

		<!-- PluginTechnicalData Component Group -->            
		<ComponentGroup Id="PluginTechnicalData" Directory="TECHNICALDATA">
			<Component Id="AasxPluginTechnicalData.dll" Guid="{7C881E14-A151-45A2-A1D3-2163B6C8492D}">
				<File Id="AasxPluginTechnicalData.dll" Source="$(var.AasxPluginTechnicalData.TargetDir)AasxPluginTechnicalData.dll" KeyPath="yes" Checksum="yes"/>
				<!-- AasxPluginTechnicalData.options.json -->
			</Component>
		</ComponentGroup>
		
		<!-- PluginUaNetClient Component Group -->        
		<ComponentGroup Id="PluginUaNetClient" Directory="UANETCLIENT">
			<Component Id="AasxPluginUaNetClient.dll" Guid="{137061B7-F2A6-4079-BC51-5E3DCD3FA2ED}">
				<File Id="AasxPluginUaNetClient.dll" Source="$(var.AasxPluginUaNetClient.TargetDir)AasxPluginUaNetClient.dll" KeyPath="yes" Checksum="yes"/>
			</Component>
			<Component Id="Opc.Ua.Core.dll" Guid="{CD10C505-DE67-4479-92B3-8A3A04C9C31C}">        
				<File Id="Opc.Ua.Core.dll" Source="$(var.AasxPluginUaNetClient.TargetDir)Opc.Ua.Core.dll" KeyPath="yes" Checksum="yes"/>
			</Component>
			<Component Id="Opc.Ua.Client.dll" Guid="{083FE1C9-9687-4E88-A162-373A254E7C4F}">        
				<File Id="Opc.Ua.Client.dll" Source="$(var.AasxPluginUaNetClient.TargetDir)Opc.Ua.Client.dll" KeyPath="yes" Checksum="yes"/>
			</Component>
		</ComponentGroup>
		
		<!-- PluginUaNetServer Component Group -->        
		<ComponentGroup Id="PluginUaNetServer" Directory="UANETSERVER">
			<Component Id="AasxPluginUaNetServer.dll" Guid="{08D75389-53B7-4689-A95F-EF622739F084}">
				<File Id="AasxPluginUaNetServer.dll" Source="$(var.AasxPluginUaNetServer.TargetDir)AasxPluginUaNetServer.dll" KeyPath="yes" Checksum="yes"/>
				<!-- AasxPluginUaNetServer.options.json -->
			</Component>
		</ComponentGroup>

		<!-- PluginWebBrowser Component Group -->            
		<ComponentGroup Id="PluginWebBrowser" Directory="WEBBROWSER">
			<Component Id="AasxPluginWebBrowser.dll" Guid="{98E56A22-7099-408C-886B-59FAB15708C9}">
				<File Id="AasxPluginWebBrowser.dll" Source="$(var.AasxPluginWebBrowser.TargetDir)AasxPluginWebBrowser.dll" KeyPath="yes" Checksum="yes"/>
				<!-- AasxPluginWebBrowser.options.json -->
			</Component>
			<Component Id="cef.pak" Guid="{F204CE7F-8D4F-4231-B84D-7C8B160B9D56}">
				<File Id="cef.pak" Source="$(var.AasxPluginWebBrowser.TargetDir)cef.pak" KeyPath="yes" Checksum="yes"/>
			</Component>
			<Component Id="cef_100_percent.pak" Guid="{5B3CC67C-3D3C-4E3C-8833-757809B6AB43}">
				<File Id="cef_100_percent.pak" Source="$(var.AasxPluginWebBrowser.TargetDir)cef_100_percent.pak" KeyPath="yes" Checksum="yes"/>
			</Component>
			<Component Id="cef_200_percent.pak" Guid="{2A5CE9BF-D8FD-41AD-9550-77AF4304DE78}">
				<File Id="cef_200_percent.pak" Source="$(var.AasxPluginWebBrowser.TargetDir)cef_200_percent.pak" KeyPath="yes" Checksum="yes"/>
			</Component>
			<Component Id="cef_extensions.pak" Guid="{06157591-A25B-41C2-B113-37084FE7BC6E}">
				<File Id="cef_extensions.pak" Source="$(var.AasxPluginWebBrowser.TargetDir)cef_extensions.pak" KeyPath="yes" Checksum="yes"/>
			</Component>
			<Component Id="CefSharp.Core.dll" Guid="{68A42939-67C8-4972-9D92-A6FDB23F1705}">
				<File Id="CefSharp.Core.dll" Source="$(var.AasxPluginWebBrowser.TargetDir)CefSharp.Core.dll" KeyPath="yes" Checksum="yes"/>
			</Component>
			<Component Id="CefSharp.dll" Guid="{1C7F407C-37EC-43D1-B09C-9ADE514D0E76}">
				<File Id="CefSharp.dll" Source="$(var.AasxPluginWebBrowser.TargetDir)CefSharp.dll" KeyPath="yes" Checksum="yes"/>
			</Component>
			<Component Id="CefSharp.Wpf.dll" Guid="{A1948988-3F7C-47E3-A18F-331E10E7C3EE}">
				<File Id="CefSharp.Wpf.dll" Source="$(var.AasxPluginWebBrowser.TargetDir)" KeyPath="yes" Checksum="yes"/>
			</Component>
			<Component Id="chrome_elf.dll" Guid="{6263B948-FF13-4300-8EB1-B07D68D4BB26}">
				<File Id="chrome_elf.dll" Source="$(var.AasxPluginWebBrowser.TargetDir)chrome_elf.dll" KeyPath="yes" Checksum="yes"/>
			</Component>
			<Component Id="devtools_resources.pak" Guid="{25DFB6D6-B2F9-4488-B7A5-BD327ABE5E7B}">
				<File Id="devtools_resources.pak" Source="$(var.AasxPluginWebBrowser.TargetDir)devtools_resources.pak" KeyPath="yes" Checksum="yes"/>
			</Component>
			<Component Id="libcef.dll" Guid="{5CB07BEE-DDC2-4BF7-A602-74B11810FFC3}">
				<File Id="libcef.dll" Source="$(var.AasxPluginWebBrowser.TargetDir)libcef.dll" KeyPath="yes" Checksum="yes"/>
			</Component>
			<Component Id="v8_context_snapshot.bin" Guid="{ECF1F9B5-14D8-495F-BA64-FCA4E67D8D33}">
				<File Id="v8_context_snapshot.bin" Source="$(var.AasxPluginWebBrowser.TargetDir)v8_context_snapshot.bin" KeyPath="yes" Checksum="yes"/>
			</Component>
			<Component Id="d3dcompiler47.dll" Guid="{B80C8D56-B5AD-4FE4-8AB3-6A3CF444BFF5}">
				<File Id="d3dcompiler47.dll" Source="$(var.AasxPluginWebBrowser.TargetDir)d3dcompiler_47.dll" KeyPath="yes" Checksum="yes"/>
			</Component>
			<Component Id="icudtl.dat" Guid="{087DA2E8-F172-4ADE-A983-8A5B625FC892}">
				<File Id="icudtl.dat" Source="$(var.AasxPluginWebBrowser.TargetDir)icudtl.dat" KeyPath="yes" Checksum="yes"/>
			</Component>
			<Component Id="libEGL.dll" Guid="{E6DCDDD7-8EDE-4FC7-B7CA-875F32B92BBB}">
				<File Id="libEGL.dll" Source="$(var.AasxPluginWebBrowser.TargetDir)libEGL.dll" KeyPath="yes" Checksum="yes"/>
			</Component>
			<Component Id="libGLESv2.dll" Guid="{391070E5-7BDD-4BBB-9BA8-89FF7825E63A}">
				<File Id="libGLESv2.dll" Source="$(var.AasxPluginWebBrowser.TargetDir)libGLESv2.dll" KeyPath="yes" Checksum="yes"/>
			</Component>
		</ComponentGroup>
		
		<!-- Web Browser Resources Component Group -->
		<ComponentGroup Id="PluginWebBrowserResources" Directory="WEBBROWSERLOCALES">
			<Component Id="enUS.pak" Guid="{064524D4-55B9-4534-BC7D-52CFC56EF699}">
				<File Id="am.pak" Source="$(var.AasxPluginWebBrowser.TargetDir)locales\am.pak" KeyPath="no" Checksum="yes"/>
				<File Id="ar.pak" Source="$(var.AasxPluginWebBrowser.TargetDir)locales\ar.pak" KeyPath="no" Checksum="yes"/>
				<File Id="bg.pak" Source="$(var.AasxPluginWebBrowser.TargetDir)locales\bg.pak" KeyPath="no" Checksum="yes"/>
				<File Id="bn.pak" Source="$(var.AasxPluginWebBrowser.TargetDir)locales\bn.pak" KeyPath="no" Checksum="yes"/>
				<File Id="ca.pak" Source="$(var.AasxPluginWebBrowser.TargetDir)locales\ca.pak" KeyPath="no" Checksum="yes"/>
				<File Id="cs.pak" Source="$(var.AasxPluginWebBrowser.TargetDir)locales\cs.pak" KeyPath="no" Checksum="yes"/>
				<File Id="da.pak" Source="$(var.AasxPluginWebBrowser.TargetDir)locales\da.pak" KeyPath="no" Checksum="yes"/>
				<File Id="de.pak" Source="$(var.AasxPluginWebBrowser.TargetDir)locales\de.pak" KeyPath="no" Checksum="yes"/>
				<File Id="el.pak" Source="$(var.AasxPluginWebBrowser.TargetDir)locales\el.pak" KeyPath="no" Checksum="yes"/>
				<File Id="enGB.pak" Source="$(var.AasxPluginWebBrowser.TargetDir)locales\en-GB.pak" KeyPath="no" Checksum="yes"/>
				<File Id="enUS.pak" Source="$(var.AasxPluginWebBrowser.TargetDir)locales\en-US.pak" KeyPath="yes" Checksum="yes"/>
				<File Id="es419.pak" Source="$(var.AasxPluginWebBrowser.TargetDir)locales\es-419.pak" KeyPath="no" Checksum="yes"/>
				<File Id="es.pak" Source="$(var.AasxPluginWebBrowser.TargetDir)locales\es.pak" KeyPath="no" Checksum="yes"/>
				<File Id="et.pak" Source="$(var.AasxPluginWebBrowser.TargetDir)locales\et.pak" KeyPath="no" Checksum="yes"/>
				<File Id="fa.pak" Source="$(var.AasxPluginWebBrowser.TargetDir)locales\fa.pak" KeyPath="no" Checksum="yes"/>
				<File Id="fi.pak" Source="$(var.AasxPluginWebBrowser.TargetDir)locales\fi.pak" KeyPath="no" Checksum="yes"/>
				<File Id="fil.pak" Source="$(var.AasxPluginWebBrowser.TargetDir)locales\fil.pak" KeyPath="no" Checksum="yes"/>
				<File Id="fr.pak" Source="$(var.AasxPluginWebBrowser.TargetDir)locales\fr.pak" KeyPath="no" Checksum="yes"/>
				<File Id="gu.pak" Source="$(var.AasxPluginWebBrowser.TargetDir)locales\gu.pak" KeyPath="no" Checksum="yes"/>
				<File Id="he.pak" Source="$(var.AasxPluginWebBrowser.TargetDir)locales\he.pak" KeyPath="no" Checksum="yes"/>
				<File Id="hi.pak" Source="$(var.AasxPluginWebBrowser.TargetDir)locales\hi.pak" KeyPath="no" Checksum="yes"/>
				<File Id="hr.pak" Source="$(var.AasxPluginWebBrowser.TargetDir)locales\hr.pak" KeyPath="no" Checksum="yes"/>
				<File Id="hu.pak" Source="$(var.AasxPluginWebBrowser.TargetDir)locales\hu.pak" KeyPath="no" Checksum="yes"/>
				<File Id="id.pak" Source="$(var.AasxPluginWebBrowser.TargetDir)locales\id.pak" KeyPath="no" Checksum="yes"/>
				<File Id="it.pak" Source="$(var.AasxPluginWebBrowser.TargetDir)locales\it.pak" KeyPath="no" Checksum="yes"/>
				<File Id="ja.pak" Source="$(var.AasxPluginWebBrowser.TargetDir)locales\ja.pak" KeyPath="no" Checksum="yes"/>
				<File Id="kn.pak" Source="$(var.AasxPluginWebBrowser.TargetDir)locales\kn.pak" KeyPath="no" Checksum="yes"/>
				<File Id="ko.pak" Source="$(var.AasxPluginWebBrowser.TargetDir)locales\ko.pak" KeyPath="no" Checksum="yes"/>
				<File Id="lt.pak" Source="$(var.AasxPluginWebBrowser.TargetDir)locales\lt.pak" KeyPath="no" Checksum="yes"/>
				<File Id="lv.pak" Source="$(var.AasxPluginWebBrowser.TargetDir)locales\lv.pak" KeyPath="no" Checksum="yes"/>
				<File Id="ml.pak" Source="$(var.AasxPluginWebBrowser.TargetDir)locales\ml.pak" KeyPath="no" Checksum="yes"/>
				<File Id="mr.pak" Source="$(var.AasxPluginWebBrowser.TargetDir)locales\mr.pak" KeyPath="no" Checksum="yes"/>
				<File Id="ms.pak" Source="$(var.AasxPluginWebBrowser.TargetDir)locales\ms.pak" KeyPath="no" Checksum="yes"/>
				<File Id="nb.pak" Source="$(var.AasxPluginWebBrowser.TargetDir)locales\nb.pak" KeyPath="no" Checksum="yes"/>
				<File Id="nl.pak" Source="$(var.AasxPluginWebBrowser.TargetDir)locales\nl.pak" KeyPath="no" Checksum="yes"/>
				<File Id="pl.pak" Source="$(var.AasxPluginWebBrowser.TargetDir)locales\pl.pak" KeyPath="no" Checksum="yes"/>
				<File Id="ptBR.pak" Source="$(var.AasxPluginWebBrowser.TargetDir)locales\pt-BR.pak" KeyPath="no" Checksum="yes"/>
				<File Id="ptPT.pak" Source="$(var.AasxPluginWebBrowser.TargetDir)locales\pt-PT.pak" KeyPath="no" Checksum="yes"/>
				<File Id="ro.pak" Source="$(var.AasxPluginWebBrowser.TargetDir)locales\ro.pak" KeyPath="no" Checksum="yes"/>
				<File Id="ru.pak" Source="$(var.AasxPluginWebBrowser.TargetDir)locales\ru.pak" KeyPath="no" Checksum="yes"/>
				<File Id="sk.pak" Source="$(var.AasxPluginWebBrowser.TargetDir)locales\sk.pak" KeyPath="no" Checksum="yes"/>
				<File Id="sl.pak" Source="$(var.AasxPluginWebBrowser.TargetDir)locales\sl.pak" KeyPath="no" Checksum="yes"/>
				<File Id="sr.pak" Source="$(var.AasxPluginWebBrowser.TargetDir)locales\sr.pak" KeyPath="no" Checksum="yes"/>
				<File Id="sv.pak" Source="$(var.AasxPluginWebBrowser.TargetDir)locales\sv.pak" KeyPath="no" Checksum="yes"/>
				<File Id="sw.pak" Source="$(var.AasxPluginWebBrowser.TargetDir)locales\sw.pak" KeyPath="no" Checksum="yes"/>
				<File Id="ta.pak" Source="$(var.AasxPluginWebBrowser.TargetDir)locales\ta.pak" KeyPath="no" Checksum="yes"/>
				<File Id="te.pak" Source="$(var.AasxPluginWebBrowser.TargetDir)locales\te.pak" KeyPath="no" Checksum="yes"/>
				<File Id="th.pak" Source="$(var.AasxPluginWebBrowser.TargetDir)locales\th.pak" KeyPath="no" Checksum="yes"/>
				<File Id="tr.pak" Source="$(var.AasxPluginWebBrowser.TargetDir)locales\tr.pak" KeyPath="no" Checksum="yes"/>
				<File Id="uk.pak" Source="$(var.AasxPluginWebBrowser.TargetDir)locales\uk.pak" KeyPath="no" Checksum="yes"/>
				<File Id="vi.pak" Source="$(var.AasxPluginWebBrowser.TargetDir)locales\vi.pak" KeyPath="no" Checksum="yes"/>
				<File Id="zhCN.pak" Source="$(var.AasxPluginWebBrowser.TargetDir)locales\zh-CN.pak" KeyPath="no" Checksum="yes"/>
				<File Id="zhTW.pak" Source="$(var.AasxPluginWebBrowser.TargetDir)locales\zh-TW.pak" KeyPath="no" Checksum="yes"/>
			</Component>
		</ComponentGroup>

		<!-- NPOI Component Group -->
		<ComponentGroup Id="NPOI" Directory="INSTALLFOLDER">
			<Component Id="NPOI.dll" Guid="{D1D1683E-DA08-47CA-B6FC-049634E4A1BA}"><File Id="NPOI.dll" Source="$(var.AasxPackageExplorer.TargetDir)NPOI.dll" KeyPath="yes" Checksum="yes"/></Component>
			<Component Id="NPOI.OOXML.dll" Guid="{6A558FF6-1991-4628-ABB3-77146936D517}"><File Id="NPOI.OOXML.dll" Source="$(var.AasxPackageExplorer.TargetDir)NPOI.OOXML.dll" KeyPath="yes" Checksum="yes"/></Component>
			<Component Id="NPOI.OpenXml4Net.dll" Guid="{234C963E-70ED-4FF1-A5BC-3D4109B30CA5}"><File Id="NPOI.OpenXml4Net.dll" Source="$(var.AasxPackageExplorer.TargetDir)NPOI.OpenXml4Net.dll" KeyPath="yes" Checksum="yes"/></Component>
			<Component Id="NPOI.OpenXmlFormats.dll" Guid="{C2AC15C8-A70A-4A07-B7D5-D60DBA50D3FD}"><File Id="NPOI.OpenXmlFormats.dll" Source="$(var.AasxPackageExplorer.TargetDir)NPOI.OpenXmlFormats.dll" KeyPath="yes" Checksum="yes"/></Component>
		</ComponentGroup>

		<!-- AMLEngine Component Group -->      
		<ComponentGroup Id="AMLEngine" Directory="INSTALLFOLDER">
			<Component Id="AML.Engine.dll" Guid="{05AF0DB7-5ACD-477B-BE38-E5467B3A00A2}">
				<File Id="AML.Engine.dll" Source="$(var.AasxPackageExplorer.TargetDir)AML.Engine.dll" KeyPath="yes" Checksum="yes"/>
			</Component>
			<Component Id="AML.Engine.Services.dll" Guid="{08D715C9-9361-489C-83CC-B767CCD8FF14}">
				<File Id="AML.Engine.Services.dll" Source="$(var.AasxPackageExplorer.TargetDir)AML.Engine.Services.dll" KeyPath="yes" Checksum="yes"/>
			</Component>
		</ComponentGroup>

		<!-- Utility Component Group -->
		<ComponentGroup Id="BouncyCastleCrypto" Directory="INSTALLFOLDER">
			<Component Id="BouncyCastle.Crypto.dll" Guid="{72BCD1BC-CB76-4259-BE20-17D40CD7E67B}">
				<File Id="BouncyCastle.Crypto.dll" Source="$(var.AasxPackageExplorer.TargetDir)BouncyCastle.Crypto.dll" KeyPath="yes" Checksum="yes"/>

				<File Id="IdentityModel.dll" Source="$(var.AasxPackageExplorer.TargetDir)IdentityModel.dll" KeyPath="no" Checksum="yes"/>
				<File Id="JetBrains.Annotations.dll" Source="$(var.AasxPackageExplorer.TargetDir)JetBrains.Annotations.dll" KeyPath="no" Checksum="yes"/>
				<File Id="Namotion.Reflection.dll" Source="$(var.AasxPackageExplorer.TargetDir)Namotion.Reflection.dll" KeyPath="no" Checksum="yes"/>
				<File Id="NJsonSchema.dll" Source="$(var.AasxPackageExplorer.TargetDir)NJsonSchema.dll" KeyPath="no" Checksum="yes"/>

				<File Id="openid1.dat" Source="$(var.AasxPackageExplorer.TargetDir)openid1.dat" KeyPath="no" Checksum="yes"/>
				<File Id="openid2.dat" Source="$(var.AasxPackageExplorer.TargetDir)openid2.dat" KeyPath="no" Checksum="yes"/>
				<File Id="openid3.dat" Source="$(var.AasxPackageExplorer.TargetDir)openid3.dat" KeyPath="no" Checksum="yes"/>
				<File Id="options.pref" Source="$(var.AasxPackageExplorer.TargetDir)options.pref" KeyPath="no" Checksum="yes"/>
				<File Id="SpecPI40_t.png" Source="$(var.AasxPackageExplorer.TargetDir)SpecPI40_t.png" KeyPath="no" Checksum="yes"/>
			</Component>
		</ComponentGroup>

		<!-- Resources Component Group -->
		<ComponentGroup Id="Resources" Directory="INSTALLFOLDER">
			<Component Id="LICENSE.txt" Guid="{D37E740A-D9A8-4EED-9151-DF3F0AFE5BBD}">
				<File Id="LICENSE.txt" Source="$(var.AasxPackageExplorer.TargetDir)Resources\LICENSE.txt" KeyPath="yes" Checksum="yes"/>
			</Component>
		</ComponentGroup>

    <!-- Microsoft Web Helpers Component Group -->
		<ComponentGroup Id="MSHelpers" Directory="INSTALLFOLDER">
			<Component Id="Microsoft.Bcl.AsyncInterfaces.dll" Guid="{CFA980F6-422B-447D-B720-7466496F8118}"><File Id="Microsoft.Bcl.AsyncInterfaces.dll" Source="$(var.AasxPackageExplorer.TargetDir)Microsoft.Bcl.AsyncInterfaces.dll" KeyPath="yes" Checksum="yes"/></Component>
			<Component Id="Microsoft.IdentityModel.JsonWebTokens.dll" Guid="{A66A92B2-959D-47A7-B8AC-4E93492658AD}"><File Id="Microsoft.IdentityModel.JsonWebTokens.dll" Source="$(var.AasxPackageExplorer.TargetDir)Microsoft.IdentityModel.JsonWebTokens.dll" KeyPath="yes" Checksum="yes"/></Component>
			<Component Id="Microsoft.IdentityModel.Logging.dll" Guid="{6DF14B8E-580A-494A-AB64-91F008168C75}"><File Id="Microsoft.IdentityModel.Logging.dll" Source="$(var.AasxPackageExplorer.TargetDir)Microsoft.IdentityModel.Logging.dll" KeyPath="yes" Checksum="yes"/></Component>
			<Component Id="Microsoft.IdentityModel.Tokens.dll" Guid="{81E9966E-37CF-4CC0-B0B1-6A8F241E6319}"><File Id="Microsoft.IdentityModel.Tokens.dll" Source="$(var.AasxPackageExplorer.TargetDir)Microsoft.IdentityModel.Tokens.dll" KeyPath="yes" Checksum="yes"/></Component>
			<Component Id="Microsoft.Web.Infrastructure.dll" Guid="{E54E03A0-3867-4825-BD3B-8BACDE4A977D}"><File Id="Microsoft.Web.Infrastructure.dll" Source="$(var.AasxPackageExplorer.TargetDir)Microsoft.Web.Infrastructure.dll" KeyPath="yes" Checksum="yes"/></Component>
		</ComponentGroup>
						
		<!-- Microsoft System Component Group -->
		<ComponentGroup Id="SystemComponents" Directory="INSTALLFOLDER">
			<Component Id="System.Buffers.dll" Guid="{2700103E-AEBF-4CE6-BE75-5EACB0B855D8}"><File Id="System.Buffers.dll" Source="$(var.AasxPackageExplorer.TargetDir)System.Buffers.dll" KeyPath="yes" Checksum="yes"/></Component>
			<Component Id="System.Drawing.Common.dll" Guid="{2C67E8D5-4165-473D-BECF-FF52FCC12A18}"><File Id="System.Drawing.Common.dll" Source="$(var.AasxPackageExplorer.TargetDir)System.Drawing.Common.dll" KeyPath="yes" Checksum="yes"/></Component>
			<Component Id="System.IdentityModel.Tokens.Jwt.dll" Guid="{0406835E-2BD6-4199-8BC6-E0AF45663F85}"><File Id="System.IdentityModel.Tokens.Jwt.dll" Source="$(var.AasxPackageExplorer.TargetDir)System.IdentityModel.Tokens.Jwt.dll" KeyPath="yes" Checksum="yes"/></Component>
			<Component Id="System.IO.Packaging.dll" Guid="{83A403D8-C93E-4285-9415-D5B152D65E32}"><File Id="System.IO.Packaging.dll" Source="$(var.AasxPackageExplorer.TargetDir)System.IO.Packaging.dll" KeyPath="yes" Checksum="yes"/></Component>
			<Component Id="System.Memory.dll" Guid="{8A38CD22-186A-471B-8AF5-972DEED14850}"><File Id="System.Memory.dll" Source="$(var.AasxPackageExplorer.TargetDir)System.Memory.dll" KeyPath="yes" Checksum="yes"/></Component>
			<Component Id="System.Numerics.Vectors.dll" Guid="{C4FE0115-0993-475A-9765-B9E1D992C522}"><File Id="System.Numerics.Vectors.dll" Source="$(var.AasxPackageExplorer.TargetDir)System.Numerics.Vectors.dll" KeyPath="yes" Checksum="yes"/></Component>
			<Component Id="System.Runtime.CompilerServices.Unsafe.dll" Guid="{A3369ACC-BE32-43A7-B4CD-F83F8EB3B691}"><File Id="System.Runtime.CompilerServices.Unsafe.dll" Source="$(var.AasxPackageExplorer.TargetDir)System.Runtime.CompilerServices.Unsafe.dll" KeyPath="yes" Checksum="yes"/></Component>
			<Component Id="System.Text.Encodings.Web.dll" Guid="{F05B88AD-54DC-4AE1-93A0-A64657F0E9E3}"><File Id="System.Text.Encodings.Web.dll" Source="$(var.AasxPackageExplorer.TargetDir)System.Text.Encodings.Web.dll" KeyPath="yes" Checksum="yes"/></Component>
			<Component Id="System.Text.Json.dll" Guid="{A8273963-F5C3-4B13-A339-BB0AD8D7A744}"><File Id="System.Text.Json.dll" Source="$(var.AasxPackageExplorer.TargetDir)System.Text.Json.dll" KeyPath="yes" Checksum="yes"/></Component>
			<Component Id="System.Threading.Tasks.Extensions.dll" Guid="{AE0C6503-D4EF-4D5C-8D97-8BA995C2069C}"><File Id="System.Threading.Tasks.Extensions.dll" Source="$(var.AasxPackageExplorer.TargetDir)System.Threading.Tasks.Extensions.dll" KeyPath="yes" Checksum="yes"/></Component>
			<Component Id="System.ValueTuple.dll" Guid="{81E80976-F4A4-4D54-8686-47BA1A0C5FB1}"><File Id="System.ValueTuple.dll" Source="$(var.AasxPackageExplorer.TargetDir)System.ValueTuple.dll" KeyPath="yes" Checksum="yes"/></Component>
			<Component Id="System.Web.Helpers.dll" Guid="{DA422D68-7765-4663-9E30-2B9D03605FE6}"><File Id="System.Web.Helpers.dll" Source="$(var.AasxPackageExplorer.TargetDir)System.Web.Helpers.dll" KeyPath="yes" Checksum="yes"/></Component>
			<Component Id="System.Web.Razor.dll" Guid="{6F95F11B-604D-461C-A700-769C34CDA1F7}"><File Id="System.Web.Razor.dll" Source="$(var.AasxPackageExplorer.TargetDir)System.Web.Razor.dll" KeyPath="yes" Checksum="yes"/></Component>
			<Component Id="System.Web.WebPages.dll" Guid="{B2943EE2-0BFD-4B27-ADBB-9836F0D23511}"><File Id="System.Web.WebPages.dll" Source="$(var.AasxPackageExplorer.TargetDir)System.Web.WebPages.dll" KeyPath="yes" Checksum="yes"/></Component>
			<Component Id="System.Web.WebPages.Deployment.dll" Guid="{FF14E53E-307F-472D-912F-32E338FA404B}"><File Id="System.Web.WebPages.Deployment.dll" Source="$(var.AasxPackageExplorer.TargetDir)System.Web.WebPages.Deployment.dll" KeyPath="yes" Checksum="yes"/></Component>
			<Component Id="System.Web.WebPages.Razor.dll" Guid="{C92C17F9-6072-46E7-815B-B2CA0F4BBE15}"><File Id="System.Web.WebPages.Razor.dll" Source="$(var.AasxPackageExplorer.TargetDir)System.Web.WebPages.Razor.dll" KeyPath="yes" Checksum="yes"/></Component>
		</ComponentGroup>      
			
		<!-- ZXing Bar Code Scanner Component Group -->
		<ComponentGroup Id="ZXing" Directory="INSTALLFOLDER">
			<Component Id="zxing.dll" Guid="{64E46163-0CF4-4D1E-834F-1D090E2579A9}"><File Id="zxing.dll" Source="$(var.AasxPackageExplorer.TargetDir)zxing.dll" KeyPath="yes" Checksum="yes"/></Component>    
			<Component Id="zxing.presentation.dll" Guid="{675683CC-2597-488E-AFD3-B93BC6C11B98}"><File Id="zxing.presentation.dll" Source="$(var.AasxPackageExplorer.TargetDir)zxing.presentation.dll" KeyPath="yes" Checksum="yes"/></Component>        
		</ComponentGroup>
			
			
		<!-- ProgsUserInterface Component Group -->  
		<ComponentGroup Id="ProgsUserInterface" Directory="INSTALLFOLDER">

			<Component Id="josejwt.dll" Guid="{68882234-280E-49FA-A79F-A172B89FC551}"><File Id="josejwt.dll" Source="$(var.AasxPackageExplorer.TargetDir)jose-jwt.dll" KeyPath="yes" Checksum="yes"/></Component>
			<Component Id="Newtonsoft.Json.dll" Guid="{98DDE4D4-91DB-412F-AC69-C44E386C8A89}"><File Id="Newtonsoft.Json.dll" Source="$(var.AasxPackageExplorer.TargetDir)Newtonsoft.Json.dll" KeyPath="yes" Checksum="yes"/></Component>
			<Component Id="ExhaustiveMatching.dll" Guid="{12457FB9-42DD-47CF-9F74-1A0B002DD52A}"><File Id="ExhaustiveMatching.dll" Source="$(var.AasxPackageExplorer.TargetDir)ExhaustiveMatching.dll" KeyPath="yes" Checksum="yes"/></Component>
			<Component Id="Grapevine.dll" Guid="{992743EA-CA0F-4FBA-A2DF-512281C19495}"><File Id="Grapevine.dll" Source="$(var.AasxPackageExplorer.TargetDir)Grapevine.dll" KeyPath="yes" Checksum="yes"/></Component>
			<Component Id="MQTTnet.dll" Guid="{7CC8DC3D-0A1C-4763-B326-DFD8C7267F08}"><File Id="MQTTnet.dll" Source="$(var.AasxPackageExplorer.TargetDir)MQTTnet.dll" KeyPath="yes" Checksum="yes"/></Component>        
			<Component Id="QRCoder.dll" Guid="{9BFF9A65-8655-4156-B381-BC1125FCB835}"><File Id="QRCoder.dll" Source="$(var.AasxPackageExplorer.TargetDir)QRCoder.dll" KeyPath="yes" Checksum="yes"/></Component>        
			<Component Id="ExcelDataReader.dll" Guid="{DC4FB6D0-E1F0-4BC7-BA46-C2696BB37723}"><File Id="ExcelDataReader.dll" Source="$(var.AasxPackageExplorer.TargetDir)ExcelDataReader.dll" KeyPath="yes" Checksum="yes"/></Component>        
			<Component Id="ICSharpCode.SharpZipLib.dll" Guid="{2639B77B-CF13-437B-895C-2C01CEB9E5E5}"><File Id="ICSharpCode.SharpZipLib.dll" Source="$(var.AasxPackageExplorer.TargetDir)ICSharpCode.SharpZipLib.dll" KeyPath="yes" Checksum="yes"/></Component>        
			
			<Component Id="AasxPackageExplorer.exe" Guid="{AAAEAD90-5C94-4E73-B730-ECB4885A3010}">
				<File Id="AasxPackageExplorer.exe" Source="$(var.AasxPackageExplorer.TargetDir)AasxPackageExplorer.exe" KeyPath="yes" Checksum="yes"/>
				<File Id="AasxPackageExplorer.exe.config" Source="$(var.AasxPackageExplorer.TargetDir)AasxPackageExplorer.exe.config" KeyPath="no" Checksum="yes"/>
				<File Id="AasxPackageExplorer.options.json" Source="$(var.AasxPackageExplorer.TargetDir)AasxPackageExplorer.options.json" KeyPath="no" Checksum="yes"/>
				<File Id="qualifierpresets.json" Source="$(var.AasxPackageExplorer.TargetDir)qualifier-presets.json" KeyPath="no" Checksum="yes"/>
			</Component>
			<Component Id="AasxIntegrationEmptySample.dll" Guid="{716D90E2-B3EB-4FA4-A278-B8FCB021A093}">
				<File Id="AasxIntegrationEmptySample.dll" Source="$(var.AasxIntegrationEmptySample.TargetDir)AasxIntegrationEmptySample.dll" KeyPath="yes" Checksum="yes"/>
			</Component>
			<Component Id="AasxPluginKnownSubmodels.dll" Guid="{42DEB4CC-9F4D-42F1-A460-1B6C8B4EE713}">
				<File Id="AasxPluginKnownSubmodels.dll" Source="$(var.AasxPluginKnownSubmodels.TargetDir)AasxPluginKnownSubmodels.dll" KeyPath="yes" Checksum="yes"/>
			</Component>
			<Component Id="AasxRestConsoleServer.dll" Guid="{11C1ACF5-2ABD-4AF6-8048-64B7C812E976}">
				<File Id="AasxRestConsoleServer.dll" Source="$(var.AasxRestConsoleServer.TargetDir)AasxRestConsoleServer.dll" KeyPath="yes" Checksum="yes"/>
				<!-- AasxRestConsoleServer.deps.json -->
			</Component>
			<Component Id="AasxToolkit.exe" Guid="{8DD0DFB6-7724-4811-AD18-BBDB4CDDEF5F}">
				<File Id="AasxToolkit.exe" Source="$(var.AasxToolkit.TargetDir)AasxToolkit.exe" KeyPath="yes" Checksum="yes"/>
				<File Id="AasxToolkit.exe.config" Source="$(var.AasxToolkit.TargetDir)AasxToolkit.exe.config" KeyPath="no" Checksum="yes"/>
				<File Id="ValidateSampleAAS.ps1" Source="$(var.AasxToolkit.TargetDir)ValidateSampleAAS.ps1" KeyPath="no" Checksum="yes"/>
			</Component>
			<Component Id="AasxUaNetConsoleServer.dll" Guid="{5D5569CB-1D7E-4BCE-BF72-9B97EAA3C156}">
				<File Id="AasxUaNetConsoleServer.dll" Source="$(var.AasxUaNetConsoleServer.TargetDir)AasxUaNetConsoleServer.dll" KeyPath="yes" Checksum="yes"/>
				<!-- AasxUaNetConsoleServer.deps.json -->
			</Component>
			<Component Id="AasxPackageLogic.dll" Guid="{4463DA8C-F9FE-4669-BE8F-93EC256DA9E4}">
				<File Id="AasxPackageLogic.dll" Source="$(var.AasxPackageLogic.TargetDir)AasxPackageLogic.dll" KeyPath="yes" Checksum="yes"/>
			</Component>
			<Component Id="AasxWpfControlLibrary.dll" Guid="{D66E0AF6-A2C7-4D39-89A4-19F6042C9F4F}">
				<File Id="AasxWpfControlLibrary.dll" Source="$(var.AasxWpfControlLibrary.TargetDir)AasxWpfControlLibrary.dll" KeyPath="yes" Checksum="yes"/>
				<File Id="AasxWpfControlLibrary.dll.config" Source="$(var.AasxWpfControlLibrary.TargetDir)AasxWpfControlLibrary.dll.config" KeyPath="no" Checksum="yes"/>
			</Component>
			<Component Id="SSIExtension.dll" Guid="{B7F04BF4-76D0-4F7C-B7AC-22C6CDFDFFBA}">
				<File Id="SSIExtension.dll" Source="$(var.SSIExtension.TargetDir)SSIExtension.dll" KeyPath="yes" Checksum="yes"/>
			</Component>
			<Component Id="WpfMtpVisuViewer.exe" Guid="{D5FF83A3-DFF1-4FEB-A96C-7182B9F0A152}">
				<File Id="WpfMtpVisuViewer.exe" Source="$(var.WpfMtpVisuViewer.TargetDir)WpfMtpVisuViewer.exe" KeyPath="yes" Checksum="yes"/>
			</Component>
			<Component Id="WpfXamlTool.exe" Guid="{5A49D878-8EF0-4F8B-A57C-BC5CF18C93D7}">
				<File Id="WpfXamlTool.dll" Source="$(var.WpfXamlTool.TargetDir)WpfXamlTool.exe" KeyPath="yes" Checksum="yes"/>
			</Component>

		</ComponentGroup>


    <!-- schemaV10 Component Group -->
    <ComponentGroup Id="schemaV10files" Directory="SCHEMAV10">
      <Component Id="AAS.xsd_V10" Guid="{D5AB468B-FCD3-4753-B153-7198D6842723}">
        <File Id="AAS.xsd_V10" Source="$(var.AasxToolkit.ProjectDir)schemaV10\AAS.xsd" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="AAS_Example_v1.4.json" Guid="{E763358F-EDED-4FE2-8339-C0ECDEBC99C8}">
        <File Id="AAS_Example_v1.4.json" Source="$(var.AasxToolkit.ProjectDir)schemaV10\AAS_Example_v1.4.json" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="AASEnv_Final_v1.4.json" Guid="{A98E8C88-C328-4F62-8A38-8B6E7C27F590}">
        <File Id="AASEnv_Final_v1.4.json" Source="$(var.AasxToolkit.ProjectDir)schemaV10\AASEnv_Final_v1.4.json" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="IEC61360.xsd_V10" Guid="{1320D708-F585-4E6C-8FC5-4D76AB664973}">
        <File Id="IEC61360.xsd_V10" Source="$(var.AasxToolkit.ProjectDir)schemaV10\IEC61360.xsd" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="validate_samle_json.bat_V10" Guid="{CF950CA7-D709-40AD-8A74-384700FC54B3}">
        <File Id="validate_samle_json.bat_V10" Source="$(var.AasxToolkit.ProjectDir)schemaV10\validate_samle_json.bat" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="validate_samle_xml.bat_V10" Guid="{3F6F05A0-7320-48CD-B6AD-18A0983058F2}">
        <File Id="validate_samle_xml.bat_V10" Source="$(var.AasxToolkit.ProjectDir)schemaV10\validate_samle_xml.bat" KeyPath="yes" Checksum="yes"/>
      </Component>
    </ComponentGroup>
    
    <!-- schemaV20 Component Group -->
    <ComponentGroup Id="schemaV20files" Directory="SCHEMAV20">
      <Component Id="AAS.xsd_V20" Guid="{2E5DF957-1209-4F0D-B325-85479FF52450}">
        <File Id="AAS.xsd_V20" Source="$(var.AasxToolkit.ProjectDir)schemaV20\AAS.xsd" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="AAS_ABAC.xsd_V20" Guid="{BB77E5FA-6718-4F1C-89C0-1810AA4EEA0D}">
        <File Id="AAS_ABAC.xsd_V20" Source="$(var.AasxToolkit.ProjectDir)schemaV20\AAS_ABAC.xsd" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="Example_AAS_ServoDCMotor_Simplified_V2.0.xml_V20" Guid="{EA119493-718D-47CB-9D6E-ABD73291881B}">
        <File Id="Example_AAS_ServoDCMotor_Simplified_V2.0.xml" Source="$(var.AasxToolkit.ProjectDir)schemaV20\Example_AAS_ServoDCMotor - Simplified V2.0.xml" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="IEC61360.xsd_V20" Guid="{83823047-FCE5-4903-9060-EBD4E6F2DD69}">
        <File Id="IEC61360.xsd_V20" Source="$(var.AasxToolkit.ProjectDir)schemaV20\IEC61360.xsd" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="minimum.xml_V20" Guid="{4AA13145-E6AC-483F-9309-44FBE9E694F2}">
        <File Id="minimum.xml_V20" Source="$(var.AasxToolkit.ProjectDir)schemaV20\minimum.xml" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="SimpleDrehzahl.xml_V20" Guid="{B78F9E81-5ACC-4491-AA0E-05D659D4AA4B}">
        <File Id="SimpleDrehzahl.xml_V20" Source="$(var.AasxToolkit.ProjectDir)schemaV20\SimpleDrehzahl.xml" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="validate_samle_xml.bat_V20" Guid="{F1832E95-9D64-4C61-BA61-1AB7F37F96ED}">
        <File Id="validate_samle_xml.bat_V20" Source="$(var.AasxToolkit.ProjectDir)schemaV20\validate_samle_xml.bat" KeyPath="yes" Checksum="yes"/>
      </Component>
    </ComponentGroup>
    
    <!-- schemaV201 Component Group -->
    <ComponentGroup Id="schemaV201files" Directory="SCHEMAV201">
      <Component Id="AAS.xsd_V201" Guid="{EFE2C7E7-46AC-46A4-8960-50307BBA8DD9}">
        <File Id="AAS.xsd_V201" Source="$(var.AasxToolkit.ProjectDir)schemaV201\AAS.xsd" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="AAS_ABAC.xsd_V201" Guid="{BCDB2262-4F61-4BA6-B9F0-68936B2CDE8C}">
        <File Id="AAS_ABAC.xsd_V201" Source="$(var.AasxToolkit.ProjectDir)schemaV201\AAS_ABAC.xsd" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="Example_AAS_ServoDCMotor_Simplified_V2.0.xml_V201" Guid="{A63FD38D-2BB8-4F1A-A66D-B1EC5780D959}">
        <File Id="Example_AAS_ServoDCMotor_Simplified_V2.0.xml_V201" Source="$(var.AasxToolkit.ProjectDir)schemaV201\Example_AAS_ServoDCMotor - Simplified V2.0.xml" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="IEC61360.xsd_V201" Guid="{0FC87DD0-3DA3-4D27-8C5F-A7C56D3C9767}">
        <File Id="IEC61360.xsd_V201" Source="$(var.AasxToolkit.ProjectDir)schemaV201\IEC61360.xsd" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="minimum.xml_V201" Guid="{6E84DA4C-EECA-413E-BCED-680B35F4F1B8}">
        <File Id="minimum.xml_V201" Source="$(var.AasxToolkit.ProjectDir)schemaV201\minimum.xml" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="Notes_MIHO_Post_V201.txt_V201" Guid="{2050C0DC-9881-46E8-9137-7C42C27CD34E}">
        <File Id="Notes_MIHO_Post_V201.txt_V201" Source="$(var.AasxToolkit.ProjectDir)schemaV201\Notes_MIHO_Post_V201.txt" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="SimpleDrehzahl.xml_V201" Guid="{EF402655-C282-472A-A540-C86E4F34C6F5}">
        <File Id="SimpleDrehzahl.xml_V201" Source="$(var.AasxToolkit.ProjectDir)schemaV201\SimpleDrehzahl.xml" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="validate_samle_xml.bat_V201" Guid="{4C2DF315-9C38-479C-8536-5C254365CF0A}">
        <File Id="validate_samle_xml.bat" Source="$(var.AasxToolkit.ProjectDir)schemaV201\validate_samle_xml.bat" KeyPath="yes" Checksum="yes"/>
      </Component>
    </ComponentGroup>
      
    <!-- Root Level Config Files Component Group -->
    <ComponentGroup Id="RootLevelConfigFiles" Directory="INSTALLFOLDER">
      <Component Id="README_packages.md" Guid="{7B2B7134-249A-4B9F-99A8-22F6FAF0DDB2}">
        <File Id="README_packages.md" Source="$(var.SolutionDir)README-packages.md" KeyPath="no" Checksum="yes"/>
        <File Id="options_debug.MIHO.json" Source="$(var.AasxPackageExplorer.TargetDir)options-debug.MIHO.json" KeyPath="no" Checksum="yes"/>
        <File Id="Andreas_Orzelski_Chain.pfx" Source="$(var.AasxOpenidClient.TargetDir)Andreas_Orzelski_Chain.pfx" KeyPath="no" Checksum="yes"/>
        <File Id="Opc.Ua.SampleClient.Config.xml" Source="$(var.AasxPackageExplorer.TargetDir)Opc.Ua.SampleClient.Config.xml" KeyPath="no" Checksum="yes"/>
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
